<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangzhixuan.mapper.JoinPartyLogMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.wangzhixuan.model.JoinPartyLog">
		<id column="id" property="id" />
		<result column="player_id" property="playerId" />
		<result column="room_id" property="roomId" />
		<result column="house_owner" property="houseOwner" />
		<result column="party_no" property="partyNo" />
		<result column="party_time" property="partyTime" />
	</resultMap>
	
	<select id="getPartyPeopleNum" resultType="Map">
		SELECT IFNULL(COUNT(DISTINCT player_id),0) peopleNum, room_id, house_owner 
		FROM join_party_log 
	        <where>
	        	1=1
	            <if test=" houseOwner != null and houseOwner != '' ">
	               and house_owner = #{houseOwner} 
	            </if>
	            <if test=" roomId != null and roomId != '' ">
	               and room_id = #{roomId} 
	            </if>
	            <if test=" createTime != null ">
	               <![CDATA[ and  DATEDIFF(party_time,#{createTime}) <= #{roomDays } ]]>
	               <![CDATA[ and  DATEDIFF(party_time,#{createTime}) >= -#{roomDays } ]]>
	            </if>
	        </where>
	        GROUP BY room_id,house_owner 
	</select>
	
	<select id="getRoomPartyNum" resultType="Map">
		SELECT IFNULL(COUNT(DISTINCT party_no),0) partyNum, room_id, house_owner 
		FROM join_party_log 
	        <where>
	        	1=1
	        	<if test=" playId != null and playId != '' ">
	               and player_id = #{playId} 
	            </if>
	            <if test=" houseOwner != null and houseOwner != '' ">
	               and house_owner = #{houseOwner} 
	            </if>
	            <if test=" roomId != null and roomId != '' ">
	               and room_id = #{roomId} 
	            </if>
	            <if test=" createTime != null ">
	               <![CDATA[ and  DATEDIFF(party_time,#{createTime}) <= #{roomDays } ]]>
	               <![CDATA[ and  DATEDIFF(party_time,#{createTime}) >= -#{roomDays } ]]>
	            </if>
	        </where>
	        GROUP BY room_id,house_owner 
	</select>
	
	<select id="selectJoinPartyData" resultType="Map">
		SELECT 
			IFNULL(SUM(if(id>0,1,0)),0) allJoinPartys,
			IFNULL(SUM(IF(TO_DAYS(party_time)=TO_DAYS(NOW()),1,0)),0) todayJoinPartys
			FROM join_party_log
	</select>
	
	<select id="selectTodayPartys" resultType="Map">
		SELECT IFNULL(COUNT(demo.room_id),0) todayParty 
			FROM (
				SELECT room_id , house_owner,party_no FROM join_party_log WHERE TO_DAYS(party_time) = TO_DAYS(NOW()) 
				GROUP BY room_id , house_owner,party_no
			) demo
	</select>
	
</mapper>
