<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangzhixuan.mapper.TableVialdtimeMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.wangzhixuan.model.TableVialdtime">
		<id column="id" property="id" />
		<result column="vild_times" property="vildTimes" />
	</resultMap>

</mapper>
