<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,476},{64,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,90}}</string>
                <key>sourceSize</key>
                <string>{64,90}</string>
            </dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,672},{65,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,63}}</string>
                <key>sourceSize</key>
                <string>{65,63}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,640},{80,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,112}}</string>
                <key>sourceSize</key>
                <string>{80,112}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,654},{80,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,112}}</string>
                <key>sourceSize</key>
                <string>{80,112}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,640},{80,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,112}}</string>
                <key>sourceSize</key>
                <string>{80,112}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,362},{80,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,112}}</string>
                <key>sourceSize</key>
                <string>{80,112}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,558},{80,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,112}}</string>
                <key>sourceSize</key>
                <string>{80,112}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,476},{80,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,112}}</string>
                <key>sourceSize</key>
                <string>{80,112}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,198},{80,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,112}}</string>
                <key>sourceSize</key>
                <string>{80,112}</string>
            </dict>
            <key>19.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,84},{80,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,112}}</string>
                <key>sourceSize</key>
                <string>{80,112}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,280},{80,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,112}}</string>
                <key>sourceSize</key>
                <string>{80,112}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,394},{80,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,112}}</string>
                <key>sourceSize</key>
                <string>{80,112}</string>
            </dict>
            <key>21.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,280},{80,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,112}}</string>
                <key>sourceSize</key>
                <string>{80,112}</string>
            </dict>
            <key>22.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,558},{80,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,112}}</string>
                <key>sourceSize</key>
                <string>{80,112}</string>
            </dict>
            <key>23.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,558},{80,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,112}}</string>
                <key>sourceSize</key>
                <string>{80,112}</string>
            </dict>
            <key>24.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,198},{80,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,112}}</string>
                <key>sourceSize</key>
                <string>{80,112}</string>
            </dict>
            <key>25.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,2},{80,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,112}}</string>
                <key>sourceSize</key>
                <string>{80,112}</string>
            </dict>
            <key>26.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,116},{80,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,112}}</string>
                <key>sourceSize</key>
                <string>{80,112}</string>
            </dict>
            <key>27.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,2},{80,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,112}}</string>
                <key>sourceSize</key>
                <string>{80,112}</string>
            </dict>
            <key>28.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,622},{80,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,112}}</string>
                <key>sourceSize</key>
                <string>{80,112}</string>
            </dict>
            <key>29.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,622},{80,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,112}}</string>
                <key>sourceSize</key>
                <string>{80,112}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,540},{80,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,112}}</string>
                <key>sourceSize</key>
                <string>{80,112}</string>
            </dict>
            <key>32.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,540},{80,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,112}}</string>
                <key>sourceSize</key>
                <string>{80,112}</string>
            </dict>
            <key>33.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,444},{80,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,112}}</string>
                <key>sourceSize</key>
                <string>{80,112}</string>
            </dict>
            <key>34.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,330},{80,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,112}}</string>
                <key>sourceSize</key>
                <string>{80,112}</string>
            </dict>
            <key>35.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,458},{80,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,112}}</string>
                <key>sourceSize</key>
                <string>{80,112}</string>
            </dict>
            <key>36.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,248},{80,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,112}}</string>
                <key>sourceSize</key>
                <string>{80,112}</string>
            </dict>
            <key>37.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,166},{80,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,112}}</string>
                <key>sourceSize</key>
                <string>{80,112}</string>
            </dict>
            <key>38.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,84},{80,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,112}}</string>
                <key>sourceSize</key>
                <string>{80,112}</string>
            </dict>
            <key>39.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{80,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,112}}</string>
                <key>sourceSize</key>
                <string>{80,112}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{80,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,112}}</string>
                <key>sourceSize</key>
                <string>{80,112}</string>
            </dict>
            <key>40.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,508},{80,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,112}}</string>
                <key>sourceSize</key>
                <string>{80,112}</string>
            </dict>
            <key>41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{80,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,112}}</string>
                <key>sourceSize</key>
                <string>{80,112}</string>
            </dict>
            <key>42.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,426},{80,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,112}}</string>
                <key>sourceSize</key>
                <string>{80,112}</string>
            </dict>
            <key>43.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,344},{80,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,112}}</string>
                <key>sourceSize</key>
                <string>{80,112}</string>
            </dict>
            <key>44.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,394},{80,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,112}}</string>
                <key>sourceSize</key>
                <string>{80,112}</string>
            </dict>
            <key>47.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,394},{80,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,112}}</string>
                <key>sourceSize</key>
                <string>{80,112}</string>
            </dict>
            <key>48.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{80,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,112}}</string>
                <key>sourceSize</key>
                <string>{80,112}</string>
            </dict>
            <key>49.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,344},{80,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,112}}</string>
                <key>sourceSize</key>
                <string>{80,112}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,280},{80,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,112}}</string>
                <key>sourceSize</key>
                <string>{80,112}</string>
            </dict>
            <key>50.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,280},{80,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,112}}</string>
                <key>sourceSize</key>
                <string>{80,112}</string>
            </dict>
            <key>51.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{80,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,112}}</string>
                <key>sourceSize</key>
                <string>{80,112}</string>
            </dict>
            <key>52.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,230},{80,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,112}}</string>
                <key>sourceSize</key>
                <string>{80,112}</string>
            </dict>
            <key>53.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,116},{80,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,112}}</string>
                <key>sourceSize</key>
                <string>{80,112}</string>
            </dict>
            <key>54.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{80,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,112}}</string>
                <key>sourceSize</key>
                <string>{80,112}</string>
            </dict>
            <key>55.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,166},{80,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,112}}</string>
                <key>sourceSize</key>
                <string>{80,112}</string>
            </dict>
            <key>56.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,84},{80,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,112}}</string>
                <key>sourceSize</key>
                <string>{80,112}</string>
            </dict>
            <key>57.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{80,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,112}}</string>
                <key>sourceSize</key>
                <string>{80,112}</string>
            </dict>
            <key>58.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,198},{80,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,112}}</string>
                <key>sourceSize</key>
                <string>{80,112}</string>
            </dict>
            <key>59.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{80,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,112}}</string>
                <key>sourceSize</key>
                <string>{80,112}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,84},{80,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,112}}</string>
                <key>sourceSize</key>
                <string>{80,112}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{80,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,112}}</string>
                <key>sourceSize</key>
                <string>{80,112}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{80,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,112}}</string>
                <key>sourceSize</key>
                <string>{80,112}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,112}}</string>
                <key>sourceSize</key>
                <string>{80,112}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>poker.png</string>
            <key>size</key>
            <string>{737,737}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e31d471f475cbbab22e2673c34998003:1/1$</string>
            <key>textureFileName</key>
            <string>poker.png</string>
        </dict>
    </dict>
</plist>
