<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>biaoqing_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,312},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{60,60}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>biaoqing_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,68},{66,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{66,60}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>biaoqing_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,374},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{60,60}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>biaoqing_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,382},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{60,60}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>biaoqing_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,128},{62,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{62,60}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>biaoqing_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{60,60}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>biaoqing_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,128},{62,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{62,60}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>biaoqing_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,376},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{60,60}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>biaoqing_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,374},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{60,60}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>biaoqing_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,64},{62,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>biaoqing_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,196},{62,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{62,60}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>biaoqing_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,320},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{60,60}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>biaoqing_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,66},{60,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{60,64}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>biaoqing_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{60,60}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>biaoqing_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,258},{60,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{60,62}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>biaoqing_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{60,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{60,62}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>biaoqing_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,252},{60,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{60,62}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>biaoqing_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,70},{62,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{62,62}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>biaoqing_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,252},{56,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{56,62}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>biaoqing_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,130},{58,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{58,66}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>biaoqing_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{66,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{66,64}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>biaoqing_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{68,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{68,62}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>biaoqing_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,314},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{60,60}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>biaoqing_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,312},{56,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{56,64}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>biaoqing_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,436},{62,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{62,54}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>biaoqing_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{62,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{62,60}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>biaoqing_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{62,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>biaoqing_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,374},{58,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{58,62}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>biaoqing_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,250},{60,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{60,62}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>biaoqing_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{46,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,1},{46,62}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>biaoqing_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,310},{60,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{60,56}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>biaoqing_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,430},{54,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{54,60}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>biaoqing_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,190},{40,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{40,60}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>biaoqing_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,312},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{60,60}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>biaoqing_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,252},{58,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{58,62}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>biaoqing_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>biaoqing_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,66}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>biaoqing_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,190},{60,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{60,60}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>biaoqing_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,430},{58,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{58,60}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>biaoqing_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,370},{60,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{60,58}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>biaoqing_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,190},{62,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{62,60}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>biaoqing_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,252},{60,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{60,58}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>biaoqing_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,128},{66,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{66,58}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>biaoqing_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,190},{60,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{60,60}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>biaoqing_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,188},{62,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{62,60}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>biaoqing_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,66},{66,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{66,60}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>biaoqing_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,128},{62,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{62,60}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>biaoqing_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{62,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{62,62}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>biaoqing_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{62,62}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>biaoqing_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{68,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>biaoqing_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,436},{62,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{62,54}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>biaoqing_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,66},{64,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{64,60}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>biaoqing_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,190},{60,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{60,62}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>biaoqing_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,134},{62,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{62,60}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>biaoqing_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{62,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{62,60}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Chat.png</string>
            <key>size</key>
            <string>{492,492}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4936f64268b5b58cf0d2c36afaf4b0eb$</string>
            <key>textureFileName</key>
            <string>Chat.png</string>
        </dict>
    </dict>
</plist>
