<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.guse.platform.dao.doudou.MallItemMapper">

    <resultMap id="MallItem" type="com.guse.platform.entity.doudou.MallItem">
        <result property="itemId" column="item_id"/>
        <result property="sellPrice" column="sell_price"/>
        <result property="roomCardNum" column="roomCard_num"/>
    </resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="Base_Column_List">
	    <![CDATA[
        item_id ,sell_price ,roomCard_num 
	    ]]>
	</sql>
	<!-- 用于分页查询 -->
	<sql id="sql_of_where">
	 	WHERE 1=1 
    	<if test="bParam != null" >	
		 	<if test="bParam.sellPrice != null">
	      	 AND sell_price = #{bParam.sellPrice, jdbcType=INTEGER}
		 	</if>
		 	<if test="bParam.roomCardNum != null">
	      	 AND roomCard_num = #{bParam.roomCardNum, jdbcType=INTEGER}
		 	</if>
	    </if>   
    </sql>
    
    <!-- 通用查询 -->
    <select id="select" parameterType="java.util.Map" resultMap="MallItem">
        select 
        <include refid="Base_Column_List" />
        from mall_item 
        <include refid="sql_of_where" /> order by create_time desc
    </select>
    
    <!-- 通用分页查询 -->
    <select id="selectPageByParam" parameterType="java.util.Map" resultMap="MallItem">
        select 
        <include refid="Base_Column_List" />
        from mall_item 
        <include refid="sql_of_where" />
        <if test="pParam != null">
            <if test="pParam.orderByClause != null" > order by ${pParam.orderByClause} </if>
            <if test="pParam.orderByClause == null" >
            		order by item_id  desc 
            </if>
            <if test="pParam.startIndex != null and pParam.pageSize != null" >
              limit ${pParam.startIndex} , ${pParam.pageSize}
            </if>
        </if>
          <if test="pParam == null">
             order by create_date desc
        </if>
    </select>
    
    <!-- 通用分页查询记录总数 -->
    <select id="countByParam" parameterType="java.util.Map" resultType="java.lang.Long">
        select count(*) from mall_item 
        <include refid="sql_of_where" />
    </select>
    
    
    <insert id="insert" parameterType="com.guse.platform.entity.doudou.MallItem">
    <![CDATA[
        INSERT INTO mall_item (
	        item_id  ,
	        sell_price  ,
	        roomCard_num  
        ) VALUES (
        	#{itemId, jdbcType=INTEGER} ,
        	#{sellPrice, jdbcType=INTEGER} ,
        	#{roomCardNum, jdbcType=INTEGER} 
        )
    ]]>
    </insert>
    
    <delete id="deleteById">
    <![CDATA[
        DELETE FROM mall_item WHERE
        item_id = #{itemId} 
    ]]>
    </delete>
    
    <select id="selectById" resultMap="MallItem">
	    SELECT <include refid="Base_Column_List"/>
	    <![CDATA[
	        FROM mall_item 
	        WHERE 
		        item_id = #{itemId} 
	    ]]>
    </select>
    
    <update id="updateByIdSelective" parameterType="com.guse.platform.entity.doudou.MallItem">
		UPDATE mall_item
		<set>
		 	<if test="sellPrice != null">
	      	  sell_price = #{sellPrice, jdbcType=INTEGER} ,
		 	</if>
		 	<if test="roomCardNum != null">
	      	  roomCard_num = #{roomCardNum, jdbcType=INTEGER} ,
		 	</if>
		</set>
		WHERE
	       	item_id = #{itemId} 
    </update>
	
</mapper>

