<!--中奖展示配置糖果派对-->
<div class="ibox">
    <!--主页内容-->
    <div class="ibox-content fadeInUp animated" id="winShow">
        <div class="layui-form-item">
            <button data-method="offset" data-type="auto" class="layui-btn layui-btn-normal" @click="tgpdFrom()">新建</button>
        </div>
        <!--糖果派对-->
        <table class="layui-table" id="jackpot">
            <thead>
            <tr>
                <th>编号</th>
                <th style="width: 730px;">内容</th>
                <th colspan="2">倍数需求区间</th>
                <th colspan="2">金币需求区间</th>
                <th>类型</th>
                <th>播报样式</th>
                <th>中奖类型</th>
                <th>播放地点</th>
                <th>上架状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(item,index) in dlist">
                <td>{{index+1}}</td>
                <td>{{item.format}}</td>
                <td>{{item.bs_min}}</td>
                <td>{{item.bs_max}}</td>
                <td>{{item.award_gold_min}}</td>
                <td>{{item.award_gold_max}}</td>
                <td>{{item.award_type == 0 ? "倍数将":"彩金奖"}}</td>
                <td>{{item.style_type == 0 ? "普通":"豪华"}}</td>

                <td v-if="item.type == 1">幸运星</td>
                <td v-else-if="item.type == 2">今日集锦</td>
                <td v-else-if="item.type == 3">积累大奖</td>
                <td v-else-if="item.type == 4">跑马灯</td>
                <td>{{item.player_address == 1? "全服":"糖果派对"}}</td>
                <td>{{item.is_open == 0 ? "下架":"上架"}}</td>
                <td>
                    <a class="layui-btn layui-btn-mini" @click="tgpdFrom(item)">编辑</a>
                    <a class="layui-btn layui-btn-mini layui-btn-danger" @click="delFrom(item)">删除</a>
                </td>
            </tr>
            </tbody>
        </table>
        <!--分页-->
        <div id="demo2"></div>
    </div>
    <script>
        require(['vue', 'site'], function (Vue) {
            var vmtgpd = new Vue({
                el: "#winShow",
                data: {
                    dlist: []
                },
                methods: {
                    tgpdFrom: function (data) {
                        if (data) {
                            localStorage.setItem("config_winning_tgpd_edit", JSON.stringify(data));
                        }
                        gOpenModalWindow("编辑糖果派对中奖配置信息", "lztb/backstage/winFromTgpd.html", 750, 700, true, null, null, function () {
                            localStorage.removeItem("config_winning_tgpd_edit");
                            loadData(vmtgpd);
                        });
                    },
                    delFrom: function (data) {
                        ConfirmBox("您确定要删除这条中奖信息配置吗？", function () {
                            delData(data);
                        });
                    }
                },
                created: function () {
                    loadData(this);
                }
            });
            function loadData(vm) {
                $.ajax({
                    url: '/config/winning/tgpdList',
                    type: 'POST',
                    data: {},
                    dataType: 'json',
                    timeout: 10000,
                    success: function (rs) {
                        if (rs.code == '00000') {
                            vm.dlist = JSON.parse(rs.data);
                        } else {
                            AlertMsg(rs.msg);
                            console.error(rs);
                        }
                    },
                    error: function (xhr, status, ex) {
                        AlertMsg("请求失败：" + xhr.statusText);
                        console.error(ex);
                    }
                });
            }
            function delData(data) {
                $.ajax({
                    url: '/config/winning/tgpdDel',
                    type: 'POST',
                    data: { "format_id": data.format_id,"type":data.type },
                    dataType: 'json',
                    timeout: 10000,
                    success: function (rs) {
                        if (rs.code == '00000') {
                            var res = JSON.parse(rs.data);
                            if (res.code == 200) {
                                SuccessBox("中奖配置信息删除成功!", "提示", 2000);
                                for (var i = 0; i < vmtgpd.dlist.length; i++) {
                                    if (vmtgpd.dlist[i].format_id == data.format_id) {
                                        vmtgpd.dlist.splice(i, 1);
                                        break;
                                    }
                                }
                            } else {
                                if (res.info) {
                                    AlertMsg(res.info);
                                } else {
                                    AlertMsg(res.msg);
                                }
                            }
                        } else {
                            AlertMsg(rs.msg);
                            console.error(rs);
                        }
                    },
                    error: function (xhr, status, ex) {
                        AlertMsg("请求失败：" + xhr.statusText);
                        console.error(ex);
                    }
                });
            }
        });


    </script>
</div>