<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangzhixuan.mapper.PlayerLuckMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="PlayerLuck" type="com.wangzhixuan.model.PlayerLuck">
		<result column="id" property="id" />
		<result column="start_no" property="startNo" />
		<result column="luck" property="luck" />
		<result column="luck_start" property="luckStart" />
		<result column="luck_end" property="luckEnd" />
		<result column="luck_count" property="luckCount" />
		<result column="luck_remain" property="luckRemain" />
		<result column="luck_status" property="luckStatus" />
		<result column="user_id" property="userId" />
		<result column="create_time" property="createTime" />
	</resultMap>
	
	<select id="selectPlayerLuckVoPage"  resultType="PlayerLuckVo">
       SELECT 
			pl.id AS id,
			pl.start_no AS startNo,
			p.nick AS nick,
			pl.luck AS luck,
			pl.luck_start AS luckStart,
			pl.luck_end AS luckEnd,
			pl.luck_count AS luckCount,
			pl.luck_remain AS luckRemain,
			pl.luck_status AS luckStatus,
			pl.user_id AS userId,
			u.name AS userName,
			pl.create_time AS createTime
		FROM player_luck pl
		LEFT JOIN player p ON pl.start_no = p.start_no
		LEFT JOIN user u ON pl.user_id = u.id
	        <where>
	        	pl.luck_status = 1
	            <if test=" startNo != null and startNo != '' ">
	               and p.start_no like concat(concat('%',#{startNo}),'%') 
	            </if>
	        </where>
		GROUP BY pl.id
    </select>

</mapper>
