<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangzhixuan.mapper.SilverCommodityMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="SilverCommodity" type="com.wangzhixuan.model.SilverCommodity">
		<result column="id" property="id" />
		<result column="commodity" property="commodity" />
		<result column="award_lv" property="awardLv" />
		<result column="email_content" property="emailContent" />
		<result column="issued_time" property="issuedTime" />
		<result column="soldout_time" property="soldoutTime" />
	</resultMap>
	
	<select id="selectSilverCommodityVoPage"  resultType="SilverCommodityVo">
		SELECT
			sc.id AS id,
			sc.commodity AS commodity,
			c.commodity_name AS commodityName,
			sc.award_lv AS awardLv,
			sc.email_content AS emailContent,
			cl.lv_name AS lvName,
			sc.issued_time AS issuedTime,
			sc.soldout_time AS soldoutTime
		FROM silver_commodity sc
		LEFT JOIN commodity c ON sc.commodity = c.id
		LEFT JOIN commodity_lv cl ON sc.award_lv = cl.id
			<where>
	        	1=1
	            <if test=" commodityName != null and commodityName != '' ">
	               and c.commodity_name like concat(concat('%',#{commodityName}),'%') 
	            </if>
	        </where>
		GROUP BY sc.id
    </select>
    
    <select id="getSilverCommodityBy"  resultType="SilverCommodityVo">
		SELECT
			sc.id AS id,
			sc.commodity AS commodity,
			c.commodity_name AS commodityName,
			sc.award_lv AS awardLv,
			sc.email_content AS emailContent,
			cl.lv_name AS lvName,
			sc.issued_time AS issuedTime,
			sc.soldout_time AS soldoutTime
		FROM silver_commodity sc
		LEFT JOIN commodity c ON sc.commodity = c.id
		LEFT JOIN commodity_lv cl ON sc.award_lv = cl.id
			<where>
	        	1=1
	            <if test=" commodityId != null ">
	               and c.id = #{commodityId }  
	            </if>
	        </where>
		GROUP BY sc.id
    </select>
    

</mapper>
